@import 'variables';

@mixin button {
  border: 0.125rem solid $buttonColor;
  background-color: $buttonAltColor;
  color: $buttonColor;
  font-size: $button;
  cursor: pointer;

  &:focus {
    border: 0.125rem solid $buttonColorFocus;
    outline: 0.5rem solid $buttonColorFocus;
    border-radius: 0;
  }

  &:disabled {
    color: $buttonDisabled;
    border-color: $buttonDisabled;
    background-color: $buttonDisabledAlternative;
    cursor: not-allowed;
  }
}
